@import "tailwindcss";



 .container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
} 

.mycontainer {
  max-width: 1440px;
  margin: 0 auto;
  width: 80%;
  box-sizing: border-box;
}